---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import { Image } from "astro:assets";
import { aboutBg } from "../images";
import markets from "../data/markets.json";

const metaData = {
  title: "Experts in our field | Conserve Energy",
  description:
    "We've been in businesses since 2008, completing thousands of lighting and energy efficiency projects at reasonable prices.",
};
import MarketCard from "../components/MarketCard.astro";
---

<Layout title={metaData.title} metaDescription={metaData.description}>
  <h1 class="text-center pt-12">About Us</h1>
  <section class="overflow-hidden rounded-2xl max-xl:mx-4 my-12">
    <div class="">
      <div class="relative overflow-hidden bg-[#050506] min-h-[50vh]">
        <Image
          src={aboutBg}
          alt="Seattle backgroud"
          class="w-full absolute border-none"
        />
      </div>
      <div
        class="min-h-[24rem] min-w-full flex justify-center text-white bg-[#050506] px-4 py-12"
      >
        <div class="md:w-1/2">
          <h2 class="mb-8">Your energy effeciency partner</h2>
          <p class="body mb-4">
            As a licensed general contractor in WA, OR & ID, Conserve Energy was
            established with the vision of being the go-to Northwest company
            that could provide “the complete package” for energy efficiency.
            Since our start in 2008, we have developed an extensive network of
            suppliers and partners that help us deliver top-drawer products at
            reasonable prices.
          </p>
          <p class="body mb-4">
            Working with our partner companies, Conserve Energy has completed
            over 10,000 lighting and energy efficiency projects in the
            commercial and industrial sectors all across the states of
            Washington, Oregon and Western Idaho.
          </p>
          <p class="body mb-4">
            We stay focused on meeting customer needs. In-house expertise, along
            with a strong network of suppliers, subcontractors, and financing
            partners allows us to specify and deliver leading-edge products at
            competitive prices. This, coupled with an ability to identify and
            maximize third-party incentives, creates great value for every
            client.
          </p>
          <p class="body mb-4">
            In addition to our technical and product expertise, we work closely
            with local utilities and utility program management contractors to
            assure our customers receive maximum incentive dollars.
          </p>
          <p class="body mb-4">
            Our turnkey solutions start with audits to determine the energy
            saving potential, and extends into lighting and control design, top
            quality energy-efficient products, installation, project management,
            handling of all utility incentive paperwork, financing, and more.
          </p>
          <p class="body mb-4">
            There is no job too big or too small for us. Our customers range
            from small mom and pop shops to national corporations with projects
            from changing a few fixtures to complete retrofits for commercial
            facilities and high-rise buildings.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="text-center mb-8">Markets We Serve</h2>
    <ul class="grid gap-8 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 px-4">
      {
        markets.map((card) => (
          <MarketCard
            name={card.name}
            imagePath={card.imagePath}
            altText={card.altText}
          />
        ))
      }
      <li class="h-full flex justify-center items-end">
        <div class="card">
          <h4 class="text-center">...And More!</h4>
        </div>
      </li>
    </ul>
  </section>
  <CTA />

  <style>
    img {
      height: 100%;
      object-fit: cover;
    }
  </style>
</Layout>
