---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";

import {
  icon1,
  icon2,
  icon3,
  service1,
  service2,
  service3,
  service4,
  service5,
  homeHero,
} from "../images";

const heroContent = {
  caption: "Power Up Your Business",
  altText: "Hero image",
  imagePath: "../images/homeHero.jpg",
  title: "Illuminate Smarter and Save Bigger",
  text: `Your unique energy solution begins with a consultation. See how we’ve helped thousands of businesses discover the brilliance of customized energy efficiency—schedule your consultation now.`,
};
---

<Layout title="Conserve Energy">
  <main>
    <Hero
      title={heroContent.title}
      text={heroContent.text}
      caption={heroContent.caption}
      altText={heroContent.altText}
    >
      <Image src={homeHero} alt="hero image" class="h-full" />
    </Hero>
    <section class="grid-cols-3 grid justify-between gap-8">
      <div class="cards shadow-2xl p-8 flex flex-col gap-4 rounded-xl">
        <Image src={icon1} alt="icon 1" />
        <h4 class="w-4/5">The total energy effeciency package</h4>
        <p class="body">
          Conserve Energy’s turnkey approach to energy efficiency puts your
          business in a better competitive position. Energy saving solutions
          trim energy consumption and capture utility incentives.
        </p>
      </div>
      <div class="cards shadow-2xl p-8 flex flex-col gap-4 rounded-xl">
        <Image src={icon2} alt="icon 2" />
        <h4 class="w-3/5">Capture utility incentives</h4>
        <p class="body">
          Let us show you how specific energy-saving measures can earn generous
          incentives from utilities and third parties in the Northwest. These
          incentives typically cover 40-70%, of up-front costs.
        </p>
      </div>
      <div class="cards shadow-2xl p-8 flex flex-col gap-4 rounded-xl">
        <Image src={icon3} alt="icon 3" />
        <h4 class="w-4/5">Reasonable costs, predictable results</h4>
        <p class="body">
          Every dollar you can save on energy drops immediately to the bottom
          line. Cost-effective energy-efficiency retrofits pay back. Fast.
        </p>
      </div>
    </section>
    <div class="w-full bg-[var(--accent-color)] h-48 mx-auto">
      <div class="container flex flex-col items-center">
        <h4>Companies Who Trust Us</h4>
        <div class="logos-wrapper"></div>
      </div>
    </div>
    <section class="services flex flex-col items-center gap-16">
      <h2>Our Services</h2>
      <div class="container grid grid-cols-3 grid-rows-2 gap-8">
        <div
          class="services-card hover:text-[var(--caption-color)] cursor-pointer shadow-xl rounded-xl bg-slate-400 col-span-1 row-span-2 h-[31rem] overflow-hidden relative"
        >
          <Image src={service1} alt="services" class="object-cover h-full" />
          <div
            class="absolute bg-white/90 w-full h-16 bottom-0 flex justify-between items-center px-4"
          >
            <h5 class="uppercase">the energy audit</h5>
            <span class="material-symbols-outlined"> east</span>
          </div>
        </div>
        <div
          class="services-card hover:text-[var(--caption-color)] cursor-pointer shadow-xl rounded-xl bg-slate-400 overflow-hidden relative"
        >
          <Image src={service2} alt="services" class="object-cover h-full" />
          <div
            class="absolute bg-white/70 w-full h-16 bottom-0 flex justify-between items-center px-4"
          >
            <h5 class="uppercase">design solutions</h5>
            <span class="material-symbols-outlined"> east</span>
          </div>
        </div>
        <div
          class="services-card hover:text-[var(--caption-color)] cursor-pointer shadow-xl rounded-xl bg-slate-400 overflow-hidden relative"
        >
          <Image src={service5} alt="services" class="object-cover h-full" />
          <div
            class="absolute bg-white/70 w-full h-16 bottom-0 flex justify-between items-center px-4"
          >
            <h5 class="uppercase">maximum utility incentives</h5>
            <span class="material-symbols-outlined"> east</span>
          </div>
        </div>
        <div
          class="services-card hover:text-[var(--caption-color)] cursor-pointer shadow-xl rounded-xl bg-slate-400 overflow-hidden relative"
        >
          <Image src={service3} alt="services" class="object-cover h-full" />
          <div
            class="absolute bg-white/70 w-full h-16 bottom-0 flex justify-between items-center px-4"
          >
            <h5 class="uppercase">led lights and more</h5>
            <span class="material-symbols-outlined"> east</span>
          </div>
        </div>
        <div
          class="services-card hover:text-[var(--caption-color)] cursor-pointer shadow-xl rounded-xl bg-slate-400 overflow-hidden relative"
        >
          <Image src={service4} alt="services" class="object-cover h-full" />
          <div
            class="absolute bg-white/70 w-full h-16 bottom-0 flex justify-between items-center px-4"
          >
            <h5 class="uppercase">installation excellence</h5>
            <span class="material-symbols-outlined"> east</span>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
