---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CTA from "../components/CTA.astro";
import { resultsHero } from "../constants/index.js";
import {
  service1,
  service2,
  service3,
  service4,
  service5,
  industrial1,
  industrial2,
  industrial3,
} from "../images";
import { Image } from "astro:assets";
---

<Layout title="Results">
  <main>
    <Hero
      title={resultsHero.title}
      text={resultsHero.text}
      caption={resultsHero.caption}
      altText={resultsHero.altText}
      imagePath={resultsHero.imagePath}
    />
    <section>
      <h2 class="uppercase text-center my-16 max-md:text-3xl max-sm:text-xl">
        industrial buildings
      </h2>

      <!-- Main image -->
      <div class="rounded-xl overflow-hidden">
        <Image
          src={service3}
          class="w-full max-h-[444px] object-cover object-[position:50%_70%]"
          alt="industrial hero"
        />
      </div>

      <!--3 smaller images -->
      <div class="grid gap-8 mt-8 md:grid-cols-3">
        <div class="h-3/5 rounded-xl overflow-hidden">
          <Image
            src={industrial1}
            class="h-full object-cover object-[position:50%_85%]"
            alt="industrial hero"
          />
        </div>

        <div class="h-3/5 rounded-xl overflow-hidden">
          <Image
            src={industrial2}
            class="h-full object-cover"
            alt="industrial hero"
          />
        </div>

        <div class="h-3/5 rounded-2xl overflow-hidden">
          <Image
            src={industrial3}
            class="h-full object-cover object-[position:50%_80%]"
            alt="industrial hero"
          />
        </div>
      </div>

      <div
        class="flex justify-between max-xl:flex-col w-full max-xl:gap-5 gap-14"
      >
        <div class="flex w-full justify-between gap-5 max-xl:justify-center">
          <div
            class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
          >
            <h4 class="text-title-color">$75,000</h4>
            <p class="text-center">Initial cost</p>
          </div>

          <div
            class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
          >
            <h4 class="text-title-color">$37,000</h4>
            <p class="text-center">Incentive</p>
          </div>
        </div>

        <div
          class="flex max-sm:flex-col w-full justify-between gap-5 max-xl:justify-center"
        >
          <div
            class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
          >
            <h4 class="text-title-color">$20,000</h4>
            <p class="text-center">Annual energy savings</p>
            <p class="text-center">(Assume 285,000 kWh)</p>
          </div>

          <div
            class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
          >
            <h4 class="text-title-color">53%</h4>
            <p class="text-center">Expected RDI</p>
            <p class="text-center">(1.9 Year payback)</p>
          </div>
        </div>
      </div>

      <div class="flex justify-between max-lg:flex-col max-lg:gap-10">
        <div class="flex-col flex gap-10 w-1/2 max-lg:w-full">
          <h3>Typical results for an LED lighting retrofit with controls</h3>
          <p>
            High Bay overhead lighting in manufacturing and warehouse spaces and
            large open offices with overhead and task lighting are common in
            this type of building and can consume a lot of watts.
          </p>

          <p>
            Varying occupancy rates and windows or skylights are common and
            often provide opportunities for savings from occupancy sensors and
            daylight harvesting.
          </p>
        </div>

        <div class="flex-col flex gap-10">
          <h3>Retrofits include:</h3>
          <p>New High-bay LED lighting fixtures</p>

          <p>Retrofit or replacement of older T12 or T8 fluorescent fixtures</p>
          <p>Occupancy/vacancy sensors</p>
          <p>Daylight harvesting controls</p>
        </div>
      </div>
    </section>
  </main>
</Layout>
