---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CTA from "../components/CTA.astro";
import { serviceHero } from "../constants/index.js";
import { service1, service2, service3, service4, service5 } from "../images";
import { Image } from "astro:assets";
---

<Layout title="Services">
  <main>
    <Hero
      title={serviceHero.title}
      text={serviceHero.text}
      caption={serviceHero.caption}
      altText={serviceHero.altText}
      imagePath={serviceHero.imagePath}
      extraClass="relative"
    />
    <section>
      <h2 class="capitalize text-center my-10">our services</h2>

      <div
        class="flex flex-col md:flex-row shadow-2xl rounded-3xl overflow-hidden card"
      >
        <div class="text-wrapper flex-1 p-16">
          <h3 class="w-3/4 mb-6 uppercase">The energy audit</h3>
          <p class="body">
            Following a detailed process, Conserve Energy reps bring their audit
            skills to bear. They develop an accurate understanding of your
            current systems. This serves as the foundation for an effective
            retrofit, expansion or remodel.
          </p>
        </div>
        <div class="md:w-5/12 image-wrapper">
          <Image src={service1} alt="Service-1" class="max-lg:w-full" />
        </div>
      </div>

      <div
        class="flex flex-col md:flex-row-reverse shadow-2xl rounded-3xl overflow-hidden card mt-20"
      >
        <div class="text-wrapper flex-1 p-16">
          <h3 class="w-3/4 mb-6 uppercase">Design solutions</h3>
          <p class="body">
            Following a detailed process, Conserve Energy reps bring their audit
            skills to bear. They develop an accurate understanding of your
            current systems. This serves as the foundation for an effective
            retrofit, expansion or remodel.
          </p>
          <p class="mt-5">
            <a class="body underline font-semibold text-green-700" href=""
              >See our results →</a
            >
          </p>
        </div>
        <div class="md:w-5/12 image-wrapper">
          <Image src={service2} alt="Service-2" class="max-lg:w-full" />
        </div>
      </div>

      <div
        class="flex flex-col md:flex-row shadow-2xl rounded-3xl overflow-hidden card mt-20"
      >
        <div class="text-wrapper flex-1 p-16">
          <h3 class="w-3/4 mb-6 uppercase">led lights and more</h3>
          <p class="body">
            No longer a niche product, LED lighting stands alone as the top dog
            in energy saving lighting options. With hundreds of LED retrofits
            under our collective belts (including highly specialized projects),
            consider the Conserve Energy team your energy-efficient LED expert.
            We offer everything from lighting design services for customized
            solutions to standard retrofits and LED re-lamping.
          </p>
          <p class="mt-5">
            <a class="body underline font-semibold text-green-700" href=""
              >More LED info →</a
            >
          </p>
        </div>
        <div class="md:w-5/12 image-wrapper">
          <Image src={service3} alt="Service-3" class="max-lg:w-full" />
        </div>
      </div>

      <div
        class="flex flex-col md:flex-row-reverse shadow-2xl rounded-3xl overflow-hidden card mt-20"
      >
        <div class="text-wrapper flex-1 p-16">
          <h3 class="w-3/4 mb-6 uppercase">installation excellence</h3>
          <p class="body">
            How do we insure a successful install? Simple. Our rigorous
            installation process ensures your project will be a success. We are
            there every step of the way, so problems are not. We assign a
            Conserve Energy Project Coordinator to each job and choose only
            licensed electrical contractors and other skilled firms that have
            what it takes to complete your installation properly.
          </p>
        </div>
        <div class="md:w-5/12 image-wrapper">
          <Image src={service4} alt="Service-4" class="max-lg:w-full" />
        </div>
      </div>

      <div
        class="flex flex-col md:flex-row shadow-2xl rounded-3xl overflow-hidden card mt-20"
      >
        <div class="text-wrapper flex-1 p-16">
          <h3 class="w-3/4 mb-6 uppercase">maximum utility incentives</h3>
          <p class="body">
            No rookie in this venture, Conserve Energy has worked with all of
            the major utility programs in the Northwest. We’re adept at securing
            the maximum incentives available. We do the paperwork, handle the
            headaches, and negotiate to secure the energy incentives, which
            generally range from 20-70% of the project cost.
          </p>
        </div>
        <div class="md:w-5/12 image-wrapper">
          <Image src={service5} alt="Service-5" class="max-lg:w-full" />
        </div>
      </div>
    </section>
    <CTA />
  </main>
</Layout>

<style>
  img {
    height: 100%;
    object-fit: cover;
  }
</style>
