---
import {
  company1,
  company2,
  company3,
  company4,
  company5,
  company6,
  company7,
  company8,
} from "../images";
import { Image } from "astro:assets";
---

<div class="w-full pt-8 overflow-hidden">
  <h4 class="text-center">Companies We've Worked With</h4>

  <div
    class="relative w-full max-md:scale-[2] max-lg:scale-150 flex overflow-x-hidden"
  >
    <div
      class="py-12 w-full flex items-center animate-marquee whitespace-nowrap"
    >
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-12">
        <Image src={company1} alt="chevron logo" />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-20">
        <Image src={company2} alt="US Bank logo" />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-24">
        <Image src={company3} alt="Edward Jones logo" />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-20">
        <Image src={company4} alt="Hampton Inn" width={150} height={150} />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-14">
        <Image src={company5} alt="Grocery Outlet logo" />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-24">
        <Image src={company6} alt="Subway logo" />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-10">
        <Image src={company7} alt="UPS logo" width={90} height={90} />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-14">
        <Image src={company8} alt="Ace Hardware logo" />
      </span>
    </div>

    <div
      class="absolute w-full flex items-center top-0 py-12 animate-marquee2 whitespace-nowrap"
    >
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-12">
        <Image src={company1} alt="Chevron logo" />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-20">
        <Image src={company2} alt="US Bank logo" />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-24">
        <Image src={company3} alt="Edward Jones logo" />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-20">
        <Image src={company4} alt="Hampton Inn" width={150} height={150} />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-14">
        <Image src={company5} alt="Grocery Outlet logo" />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-24">
        <Image src={company6} alt="Subway logo" />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-10">
        <Image src={company7} alt="UPS" width={90} height={90} />
      </span>
      <span class="lg:mx-8 mx-4 md:mx-6 max-sm:w-14">
        <Image src={company8} alt="Ace Hardware logo" />
      </span>
    </div>
  </div>
</div>
<style>
  * {
    /* border: 1px solid red; */
  }
</style>
