---
import {
    company1,
    company2,
    company3,
    company4,
    company5,
    company6
} from "../images";
import { Image } from "astro:assets";
---

<section class="w-full">
    <h4 class="text-center">Companies We've Helped</h4>

    <div class="relative flex overflow-x-hidden">
        <div class="py-12 flex items-center animate-marquee whitespace-nowrap">
          <span class="text-4xl mx-4">
            <Image src={company1} alt="chevron" />
          </span>
          <span class="text-4xl mx-4">
            <Image src={company2} alt="usBank" />
          </span>
          <span class="text-4xl mx-4">
            <Image src={company3} alt="EdwardJones" />
          </span>
          <span class="text-4xl mx-4">
            <Image src={company4} alt="HamptonInn" width={150} height={150}/>
          </span>
          <span class="text-4xl mx-4">
            <Image src={company5} alt="GroceryOutlets" />
          </span>
          <span class="text-4xl mx-4">
            <Image src={company6} alt="Subway" />
          </span>
        </div>
      
        <div class="absolute flex items-center top-0 py-12 animate-marquee2 whitespace-nowrap">
            <span class="text-4xl mx-4">
                <Image src={company1} alt="chevron" />
              </span>
              <span class="text-4xl mx-4">
                <Image src={company2} alt="usBank" />
              </span>
              <span class="text-4xl mx-4">
                <Image src={company3} alt="EdwardJones" />
              </span>
              <span class="text-4xl mx-4">
                <Image src={company4} alt="HamptonInn" width={150} height={150}/>
              </span>
              <span class="text-4xl mx-4">
                <Image src={company5} alt="GroceryOutlets" />
              </span>
              <span class="text-4xl mx-4">
                <Image src={company6} alt="Subway" />
              </span>
        </div>
      </div>
      
</section>
<style>
    * {
        /* border: 1px solid red; */
    }
</style>
