---
import {
  company1,
  company2,
  company3,
  company4,
  company5,
  company6,
  company7,
  company8,
} from "../images";
import { Image } from "astro:assets";
---

<div class="w-full pt-8">
  <h4 class="text-center">Companies We've Worked With</h4>

  <div class="relative flex overflow-x-hidden">
    <div class="py-12 flex items-center animate-marquee whitespace-nowrap">
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-12">
        <Image src={company1} alt="chevron" />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-20">
        <Image src={company2} alt="usBank" />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-24">
        <Image src={company3} alt="EdwardJones" />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-20">
        <Image src={company4} alt="HamptonInn" width={150} height={150} />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-14">
        <Image src={company5} alt="GroceryOutlets" />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-24">
        <Image src={company6} alt="Subway" />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-10">
        <Image src={company7} alt="UPS" width={90} height={90} />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-14">
        <Image src={company8} alt="AceHardware" />
      </span>
    </div>

    <div
      class="absolute flex items-center top-0 py-12 animate-marquee2 whitespace-nowrap"
    >
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-12">
        <Image src={company1} alt="chevron" />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-20">
        <Image src={company2} alt="usBank" />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-24">
        <Image src={company3} alt="EdwardJones" />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-20">
        <Image src={company4} alt="HamptonInn" width={150} height={150} />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-14">
        <Image src={company5} alt="GroceryOutlets" />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-24">
        <Image src={company6} alt="Subway" />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-10">
        <Image src={company7} alt="UPS" width={90} height={90} />
      </span>
      <span class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-4 max-sm:w-14">
        <Image src={company8} alt="AceHardware" />
      </span>
    </div>
  </div>
</div>
<style>
  * {
    /* border: 1px solid red; */
  }
</style>
