---
import {
  company1,
  company2,
  company3,
  company4,
  company5,
  company6,
  company7,
  company8,
} from "../images";
import { Image } from "astro:assets";
---

<div class="w-full pt-8">
  <h4 class="text-center">Companies We've Worked With</h4>

  <div class="flex overflow-x-hidden whitespace-nowrap">
    <div class="relative">
      <ul class="py-12 flex items-center animate-marquee">
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-12">
          <Image src={company1} alt="chevron logo" />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-20">
          <Image src={company2} alt="US Bank logo" />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-24">
          <Image src={company3} alt="Edward Jones logo" />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-20">
          <Image src={company4} alt="Hampton Inn" width={150} height={150} />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-14">
          <Image src={company5} alt="Grocery Outlet logo" />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-24">
          <Image src={company6} alt="Subway logo" />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-10">
          <Image src={company7} alt="UPS logo" width={90} height={90} />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-14">
          <Image src={company8} alt="Ace Hardware logo" />
        </li>
      </ul>
      <ul class="py-12 absolute top-0 flex items-center animate-marquee2">
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-12">
          <Image src={company1} alt="Chevron logo" />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-20">
          <Image src={company2} alt="US Bank logo" />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-24">
          <Image src={company3} alt="Edward Jones logo" />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-20">
          <Image src={company4} alt="Hampton Inn" width={150} height={150} />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-14">
          <Image src={company5} alt="Grocery Outlet logo" />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-24">
          <Image src={company6} alt="Subway logo" />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-10">
          <Image src={company7} alt="UPS" width={90} height={90} />
        </li>
        <li class="mx-10 max-xl:mx-8 max-lg:mx-6 max-md:mx-8 max-sm:w-14">
          <Image src={company8} alt="Ace Hardware logo" />
        </li>
      </ul>
    </div>
  </div>
</div>
<style>
  * {
    /* border: 1px solid red; */
  }
</style>
