---
import ScheduleButton from "./ScheduleButton.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { text, title, caption, imagePath, altText, extraClass } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "/src/images/*.{jpeg,jpg,png,gif}"`
  );
---

<section class=`flex justify-center items-center gap-12 ${extraClass}`>
  <div class="flex-1">
    <div class="flex flex-col gap-6 mb-10">
      <h4 class="caption">{caption}</h4>
      <h1>{title}</h1>
      <p class="body mr-4">{text}</p>
    </div>
    <ScheduleButton />
  </div>
  <div class="flex-1 aspect-square">
    <div class="hero-image w-full h-full rounded-3xl overflow-hidden">
      <!-- <img src={imagePath} alt={altText} /> -->
      <Image src={images[imagePath]()} alt={altText} />

      <slot />
      <slot />
    </div>
  </div>
</section>
